{{> header}}

<h3>Photos page</h3>
<p>location name: {{locationName}}</p>

{{> locationSidebar}}

<h3>Photos</h3>

<div>
  {{#each photos}}
  <a href="/locations/{{locationName}}/photos/{{photoId}}">
    <img src="/img/locations/{{locationName}}/{{file}}" id="{{photoId}}"
      alt="{{file}}"
      title="{{file}}" />
  </a>
  {{/each}}
</div>


{{> footer}}
