{{> header}}

<h3>Photos page</h3>
<p>location name: {{locationName}}</p>

{{> locationSidebar}}

<h3>Photos</h3>

<div>
  {{#each photos}}
  <img src="/img/locations/{{locationName}}/{{file}}" id="{{index}}"
    alt="{{file}}"
    title="{{file}}" />
  {{/each}}
</div>


{{> footer}}
