{{> header}}

<h3>Photo page</h3>
<p>location name: {{locationName}}</p>

{{> locationSidebar}}

{{#photo}}
<img src="/img/locations/{{locationName}}/{{file}}"
  id="{{photoId}}"
  alt="{{file}}"
  title="{{file}}" />
{{/photo}}

{{> footer}}
